SEPOLIA_RPC_URL=https://sepolia.infura.io/v3/YOUR_KEY
PRIVATE_KEY=0xYOUR_PRIVATE_KEY
CONTRACT_ADDRESS=0xYOUR_DEPLOYED_CONTRACT
AAVE_POOL=0x6Ae43d3271ff6888e7Fc43Fd7321a503ff738951
CHAINLINK_ETH_USD=0x694AA1769357215DE4FAC081bf1f309aDC325306
ETHERSCAN_API_KEY=YOUR_ETHERSCAN_KEY
